<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Complaint Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mycomplaint.css') }}">
</head>
<body>
<div id="str">
  <nav>
    <p id="new">Categories</p>
    <ul id="menu1">
      <li><a href="{{ url_for('complaintlist', user=user, category='Hostel') }}" class="active">Hostel <span>{{ count['hostelcount'] }}</span></a></li>
      <li><a href="{{ url_for('complaintlist', user=user, category='Academics') }}">Academics <span>{{ count['academicscount'] }}</span></a></li>
      <li><a href="{{ url_for('complaintlist', user=user, category='Finance') }}">Finance <span>{{ count['financecount'] }}</span></a></li>
      <li><a href="{{ url_for('complaintlist', user=user, category='Mess') }}">Mess <span>{{ count['messcount'] }}</span></a></li>
    </ul>
  </nav>

  <section id="listview">

    <header>
      <input type="text" placeholder="Search">
      <button>
        find
      </button>
    </header>
    
    <div id="content">
    {% for comps in comp_lst %}    
      <div class="item active">
        <span class="avatar"></span>
        <div class="desc">
          <h2><a href="{{ url_for('complaint', user=user, category=comps['Category'], complaint_id=comps['_id']) }}">{{ comps['Name'] }}</a></h2>
          <p>{{ comps['Email'] }}</p>
          <p>{{ comps['Subject'] }}</p>
      </div>
      <span class="time">11:00 PM</span>
    {% endfor %}
    </div>

  </section>

  <section id="view">
    <header>
      <div class="wrapper">
        <nav class="navbar">

          <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            <li><a href="{{ url_for('ourTeam') }}">Our Team</a></li>
            <li><a href="{{ url_for('contactUs') }}">Contact</a></li>
          </ul>

        </nav>
      </div>
    </header>
    {% for myc in mycomp %}
    <div class="content">
      <div class="header">
        <span class="avatar"></span>
        <span class="name">{{ myc['Name'] }} | {{ myc['Institution'] }}</span>
        <span class="time">October 16,2020</span>
      </div>
    </div>

    <div class="body">
      <h1></h1>
      <P><b>{{ myc['Category'] }}</b></p>
      <p>{{ myc['Subject'] }}</p>
      <p>{{ myc['Body'] }}</p>
    </div>
    {% endfor %}

    {% if temp is defined %}
    <button class="reply">REPLY</button>
    <div class="button">
        <form>

        <p>Update category</p>

        <button class="Yes">No</button>
        </form>
        <div class="dropdown">
              <button class="No">Yes</button>
              <ul class="activess">
                <li><a href="#">Academic</a></li>
                <li><a href="#">Finance</a></li>
                <li><a href="#">Mess</a></li>
              </ul>

      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
          $('button.No').click(function(){
            $('ul').toggleClass('activess')
          })
        })
    </script>
    {% endif %}
  </section>

</div>
</body>
</html>
