<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Complaint Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mycomplaint.css') }}">
</head>
<body>
<div id="str">
  <nav>
    <p id="new">Categories</p>
    <ul id="menu1">
      <li><a href="{{ url_for('complaintlist', user=user, category='Hostel') }}" class="active">Hostel <span>{{ count['hostelcount'] }}</span></a></li>
      <li><a href="{{ url_for('complaintlist', user=user, category='Academics') }}">Academics <span>{{ count['academicscount'] }}</span></a></li>
      <li><a href="{{ url_for('complaintlist', user=user, category='Finance') }}">Finance <span>{{ count['financecount'] }}</span></a></li>
      <li><a href="{{ url_for('complaintlist', user=user, category='Mess') }}">Mess <span>{{ count['messcount'] }}</span></a></li>
    </ul>
  </nav>

  <section id="listview">

    <header>
      <input type="text" placeholder="Search">
      <button>
        find
      </button>
    </header>
    
    <div id="content">
    {% for comps in comp_lst %}    
      <div class="item active">
        <span class="avatar"><h1>{{ initials(comps['name']) }}</h1></span>
        <div class="desc">
          <h2><a href="{{ url_for('complaint', user=user, category=comps['category'], complaint_id=comps['_id']) }}">{{ comps['name'] }}</a></h2>
          <p>{{ comps['email'] }}</p>
          <p>{{ comps['subject'] }}</p>
      </div>
      <span class="time">{{ comps['date'] | time }}</span>
    {% endfor %}
    </div>

  </section>

  <section id="view">
    <header>
      <div class="wrapper">
        <nav class="navbar">

          <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            <li><a href="{{ url_for('ourTeam') }}">Our Team</a></li>
            <li><a href="{{ url_for('contactUs') }}">Contact</a></li>
          </ul>

        </nav>
      </div>
    </header>
    {% for myc in mycomp %}
    <div class="content">
      <div class="header">
        <span class="avatar"><h1>{{ initials(myc['name']) }}</h1></span>
        <span class="name">{{ myc['name'] }} | {{ myc['institution'] }}</span>
        <span class="time">{{ myc['date'] | date }}</span>
      </div>
    </div>

    <div class="body">
      <h1></h1>
      <P><b>{{ myc['category'] }}</b></p>
      <p>{{ myc['subject'] }}</p>
      <p>{{ myc['body'] }}</p>
    </div>

      {% if myc['status'] == false %}
      <button class="reply" onclick="window.location.href='http://5f56c4b11730.ngrok.io/';">REPLY</button>
      <div class="button">
          <p>Update category</p>
          <form>
            <button type="submit" class="Yes" formaction="{{ url_for('confirmed', complaint_id=myc['_id']) }}">No</button>
          </form>
          <div class="dropdown">
                <button class="No">Yes</button>
                <ul>
                  {% for cats in rem_cats %}
                  <li><a href="{{ url_for('changed', complaint_id=myc['_id'], new_category=cats) }}">{{ cats }}</a></li>
                  {% endfor %}
                </ul>

        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script type="text/javascript">
          $(document).ready(function(){
            $('button.No').click(function(){
              $('ul').toggleClass('activess')
            })
          })
      </script>
      {% endif %}
    {% endfor %}

    
  </section>

</div>
</body>
</html>
