<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" >
  <title>Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/homey.css') }}">
</head>
<body>
  <div class="wrapper">
    <nav class="navbar">
      <img class="logo" src="{{ url_for('static', filename='img/logo.jpeg') }}"/>
      <ul>
        <li><a class="active" href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('ourTeam') }}">Our Team</a></li>
        <li><a href="{{ url_for('contactUs') }}">Contact</a></li>

      </ul>
    </nav>
    <div class="center">
      <h1>Welcome To SpeakUP</h1>
      <h2>The Grievance App</h2>
      <div class="buttons">
        <button>Explore More</button>
        <button class="btn">How it works?</button>


      </div>
    </div>


  </div>

</body>
</html>
