<html>
<head>
<title>Login Form design</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/stylery.css') }}" >


<body>
  <div class="wrapper">
    <nav class="navbar">

      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a class="active" href="#">Login</a></li>
        <li><a href="{{ url_for('ourTeam') }}">Our Team</a></li>
        <li><a href="{{ url_for('contactUs') }}">Contact</a></li>

      </ul>
    </nav>
  </div>
  <div class="loginbox">
  <img  src="{{ url_for('static', filename='img/yg.png') }}" class="avatar"/>
    <h1>Registration form</h1>
    <form method="POST" action="{{ url_for('register') }}">
      <p>College Name</p>
      <input type="text" name="username" placeholder="Enter College Name" required>
      <p>Password</p>
      <input type="password" name="password" placeholder="Enter password" required>
      <p>Address</p>
      <input type="text" name="address" placeholder="Enter Address" required>
      <input type="submit" name="" value="Register">
    </form>
  </div>


</body>
</head>

</html>
