body{
  margin: 0;
  padding: 0;
}
nav, div, header, section, footer{
  box-sizing: border-box;
}
div#str{

  height: 100%;
}
nav{
  z-index: 3;
  position: relative;
  float: left;
  width: 20%;
  background: #1B1B1B;
  box-shadow: 0 0.5px 20px 0 #F3B340;
  height:100vh;

}
nav #new {
  display: block;
  background: #F3B340;
  padding: 20px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-weight: 500;


}
ul#menu1 {
  background: #1B1B1B;
  text-align: left;
  list-style-type: none;
  padding: 0;
  margin: 30px 0;


}

ul#menu1 li {
  display: block;

}
ul#menu1 li a{
  display: block;
  padding: 10px 0;
  padding-left: 40px;
  text-decoration: none;
  color: #fff;
  position: relative;


}
 .active {
  font-weight: bolder;
}
li a span{
  background: #cc0000;
  border-radius: 20px;
  padding: 5px 8px;
  color: #fff;
  font-family: monospace;
  position: absolute;
  right: 30px;


}
section#listview {
  background: #242424;
  position: relative;
  z-index: 2;
  float: left;
  box-shadow: 0 1px 1px 0 #F3B340;
  width: 30%;
  height: 100vh;



}
section#listview header{
  background: #000000;
  box-shadow: 0 1px 1px 0 #F3B340;
  min-height: 65px;
  max-height: 65px;
  width: 100%;

}
section#listview header input{
  background: #000000;
  width: 75%;
  box-sizing: border-box;
  padding: 18px;
  font-size: 20px;
  border: none;


}
section#listview header button{
  background: #F3B340;
  border: none;
  box-sizing: border-box;
  min-height: 10px;
  max-height: 40px;
  width: 15%;
  padding: 10px 5px;
  font-size: 15px;

}
input:focus, button:focus {
  outline: none;

}



div#content div.item {
  position: relative;

  border-bottom: 1px solid #ccc;




}
  div.item::after  {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  background: transparent;
  box-shadow: 0 2px 1px 0 #F3B340;

}


div#content div.item span.avatar {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #ccc;
  margin-left: 10px;
  margin-top: 20px;
  display: block;
  border-radius: 100%;
}
div#content div.item span.avatar h1
{
  padding-left: 5.5px;
  position: relative;
  text-align: center;
  line-height: 10px;
  font-weight: bolder;
  font-size: 30px;

}
div#content div.item div.desc {
  padding-top: 20px;
  padding-left: 20%;
}
div#content div.item div.desc h2{
  margin: 20px;
  color: #fff;
  font-weight: 500;

}
div#content div.item div.desc h6{
  color: #fff;
  margin: 5px;
  font-size: 20px;
  font-weight: 400;


}
div#content div.item div.desc p{
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}
div#content span.time{
  font-weight: bold;
  color:#aaa;
  font-family: monospace;


}
section#view{
  background: #2B2B2B;
  position: relative;
  z-index: 2;
  float: left;
  box-shadow: 0 1px 1px 0 #ccc;
  width: 50%;
  height: 100vh;

}
section#view header{
  box-shadow: 0 1px 1px 0 #eee;
  min-height: 65px;
  max-height: 65px;
  width: 100%;


}
section#view header .navbar
{
  height: 68px;
  width: 100%;
  background: rgba(0,0,0,0.1);
}


.navbar ul{
  float: right;
  margin-right: 20px;

}
.navbar ul li{
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 50px;
}
.navbar ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 6px 13px;
  font-family: sans-serif;
  transition: .4s;

}
.navbar ul li a.active,
.navbar ul li a:hover{
  background: #F3B340;
  border-radius: 2px;
}
sectione#view div.content{
  padding: 10px;
}

section#view div.content div.header span.avatar {

  width:60px;
  height:60px;
  display: inline-block;
  background: #ccc;
  border-radius: 100%;

}
section#view div.content div.header span.avatar h1
{
  padding-left: 5.5px;
  position: relative;
  text-align: center;
  line-height: 10px;
  font-weight: bolder;
  font-size: 30px;

}
section#view div.content div.header span.name {
  font-weight: bolder;
  position: relative;
  top:-5px;
  left: 20px;
  display: inline-block;
  color:#fff;



}
section#view div.content div.header span.time{
  color: #F3B340;
  top: 98px;
  right: 30px;
  position: absolute;
}
section#view div.body {
  padding: 10px;

}
section#view div.body b{
  color: #fff;
}
section#view div.body p{
  color: #fff;
  font-size: 20px;
}
section#view button.reply {
  padding: 10px 40px;
  background: #F3B340;
  border: none;
  color: #fff;
  font-family: sans-serif;
  position: absolute;
  bottom: 230px;
  left: 80%;
}

section#view .button p
{
  right: 5%;
  font-size: 28px;
  font-weight: bold;
  color: white;
}
section#view div.dropdown {
  position: absolute;
  top: 68.30%;
  left: 10%;
  transform: (-50%,-50%);
}
section#view button.Yes{
  left: 5%;
  width: 70px;
  height: 40px;
  font-size: 14px;
  background: #F3B340;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  color: #fff;
}

section#view button.No{
  width: 70px;
  height: 40px;
  font-size: 14px;
  background: #F3B340;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  color: #fff;
}
section#view div.dropdown ul
{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #ccc;
  transform-origin: top;
  transform: perspective(1000px) rotateX(-90deg);
  transition: 0.5s;

}
section#view div.dropdown ul.activess
{
  transform: perspective(1000px) rotateX(0deg);

}
section#view div.dropdown ul li
{
  list-style: none;

}
section#view div.dropdown ul li a
{
  display: block;
  text-align: center;
  text-decoration: none;
  background: #262626;
  color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.2);
  transition: 0.5s;

}
section#view div.dropdown ul li a:hover{
  background: #cc0000;
}




hr.clearfix {
  visibility: hidden;
  clear: both;
}
